
.clouds {
  background-color: #514cd1;
}

//PICTURES COMPONENT
.picturesSection {
  width: 40vh;
  max-width: 50vh;
  min-width: 40vh;
  margin: auto;
}

.carousel.carousel-slider .control-arrow:hover {
  background: transparent;
}
.carousel .control-prev.control-arrow:before{
  border-right: 15px solid #fff
}
.carousel .control-next.control-arrow:before{
  border-left: 15px solid #fff
}

.carousel .slide {
  //border: 2px solid red;
}

.carousel-root {
  max-width: 55vh;
  margin: 1rem auto;
}

.thumbs-wrapper, .axis-vertical{
  display: none;
}

.carousel-slider {
  max-width: 90vh;
}

caption{
  a{text-decoration: none; width: 95px;
    position: absolute;
    text-align: center;
    //transform: rotate(270deg);
    bottom: 30px;
    right: 2rem;
    color: lavender;

  }

}

.carousel-status {
  display: none;
}

.slider-wrapper {
  //border: 10px solid blue;
  .slide {
    //border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    //max-height: 50vh;
    //max-height: 470px;
    img {
      border-radius: 10px;
      border: 1px solid linen;
    }
  }
}

.modal .carousel-root {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.57);
}

.modal .carousel {
  background-color: rgba(40, 44, 52, 0.58);
  display: flex;
  justify-content: center;
}

.modal .card {
  min-width: 50vw;
  max-width: 70vw;
  min-height: 70vh;
  max-height: 60vh;
  height: 80vh;
  perspective: 100vw;
}

.modal .content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.modal .card:hover .content {
  transform: rotateY(180deg);
  /*transition: transform 0.5s;*/
}

//.card:hover .content .noHover{
//    pointer-events: none;
//}

.modal .front, .modal .back {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.modal .front {
  color: black;
  //position:relative;
  .postcardMobile {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 10vh;
    padding: .5rem;
  }

  img {
    border-radius: 10px;
  }
}

.modal .back {
  color: white;
  transform: rotateY(180deg);
}

.postcardForm {
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  height: 60%;
  min-height: 305px;
  max-height: 490px;
  line-height: 2rem;
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #fdf2bd;
  color: black;
  border-radius: 5px;
  padding: 1rem;
  outline: 1px solid #514cd1;
outline-offset: -.5em;
  input {
    width: 70%;
    line-height: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: .5rem;
    font-family: 'Just Another Hand', cursive;
    font-size: large;
  }

  .right-hand-side {
    //border: 1px solid red;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 39%;
    //height: 75%;
    position: relative;

    .submitButton {
      position: absolute;
      top: 5px;
      right: 0;
      width: 20%;
      background-color: white;
      //background-image: url('https://pngimg.com/uploads/postage_stamp/postage_stamp_PNG88971.png');
      //background-size: 300%;
      //background-position: center;
      border: none;
      border: 2px dashed red;
      color: red;
      border-radius: 5px;
      padding: 0.5rem;
      width: 60px;
      max-width: 50px;

      &:focus {
        opacity: 85%;
        border: 2px dashed grey;
        color: grey;
      }

      &:active {
        opacity: 85%;
        border: 2px dashed grey;
        color: grey;
      }
    }
  }

  .from, .to {
    //border: 1px solid blue;
    margin-bottom: 0;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 2vw;

    label {
      padding: 0;
      text-align: left;
    }
  }

  .message {
    //border:1px solid red;
    width: 60%;
    height: 70%;
    margin: auto;
    border-right: 1px solid black;
    label {
      margin-left: 6%;
      text-align: left;
      display: block;
    }

    textarea {
      font-family: 'Just Another Hand', cursive;
      font-size: 1.8rem;
      //letter-spacing: 10px;
      margin-top: 1rem;
      width: 80%;
      height: 50%;
      resize: none;
      border: none;
      background: repeating-linear-gradient(
                      to bottom, transparent, transparent 26px, #03446A 27px
      );
    }

    .signature {
      //font-family: 'Freehand', cursive;
      font-family: 'Just Another Hand', cursive;
      font-size: 1.8rem;
      //letter-spacing: .2rem;
      text-align: right;
      margin-right: 20%;
      line-height: .3rem;
    }
  }

  ::placeholder {
    //font-family: 'Freehand', cursive;
    font-size: large;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: .2rem;
  }
}

//
//footer{
//    text-align: center;
//    transform: rotate(270deg);
//    position: absolute;
//    right: -3rem;
//    bottom: 50vh;
//}

@media screen and (max-width: 800px) {
  .carousel-root {
    max-width: 70vw;
    margin-top:1.5rem;
  }
  .modal .front .postcardMobile {
    display: block;
  }
  .slider-wrapper {
    //border: 10px solid blue;
    .slide {
      //border: 10px solid red;
      max-height: 300px;
    }
  }
  .back {

    .postcardForm {
      width: 80%;
      min-width: 275px;
      max-width: 300px;
      min-height: 50vh;
      max-height: 70vh;
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: row-reverse;
      line-height: 1rem;

      label {
        font-size: 70%;
      }

      .right-hand-side {
        padding-top: unset;
        width: 95%;
        height: 50%;
        margin: 0;
        padding: 0;
        line-height: .5rem;

        input {

        }
      }

      .message {
        width: 100%;
        height: 45%;
        font-size: large;

        textarea {
          font-size: 1.5rem;
          background: repeating-linear-gradient(
                          to bottom, transparent, transparent 22px, #03446A 23px
          );
        }

        .signature {
          margin-top: -10px;
          font-size: 20px;
        }
      }
    }
  }

}